.tab-pane
  animation fade-in 0.3s

div.tabs ul.nav-tabs li.tab.active a
  transition 0.5s

div.tabs .tab-content .tab-pane.active
  animation tabshow 0.2s cubic-bezier(0.23, 0, 0, 1.32)

.container ul.list-v
  animation sub_menus 0.3s

ul.list-v.rightmenu
  animation header-effect 0.2s cubic-bezier(0.23, 0, 0, 1.32)

details summary:hover
  transition 0.3s

details[open] > div.content
  animation header-effect 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55)

.fa-spin
  display inline-block
  animation spin 2s linear infinite

//===============================================================================//
// fade-in, sub_menus, tabshow, header-effect, spin
//===============================================================================//

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1

@keyframes sub_menus
  0%
    opacity 0
    transform translateY(10px)
  100%
    opacity 1
    transform translateY(0)

@keyframes tabshow
  0%
    transform translateY(15px)
  100%
    transform translateY(0)

@keyframes header-effect
  0%
    opacity 0
    transform translateY(-50px)
  100%
    opacity 1
    transform translateY(0)

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
