//===========================
//  样式覆盖
//===========================

// 样式修订 HandSome H1 H2 标题
article#post
  h2
    font-weight 900
    line-height inherit
    background linear-gradient(to bottom, transparent 60%, rgba(189,202,219,.3) 0) no-repeat
    border-bottom none
    display: initial
  h3
    font-weight 900

// 调整移动端的显示
#safearea
  @media screen and (max-width: $device-mobile)
    margin 0 !important
    box-shadow none
    .body-wrapper
      padding 0
    #l_main
      padding-left 0
      article#comments,
      article#friends,
      article#post,
      article#page,
      article#arc      
        border-radius 0
      article#cat,
      article#tag
        margin 0
        border-radius 0
      .post-wrapper
        margin 0 0 16px
        .post
          border-radius 0
    #l_side
      .widget.mobile
        border-radius 0

// <kbd></kbd>
kbd
  background-color #f2f2f2
  color var(--color-p)
  padding 3px 5px
  border-radius 0.25em
  box-shadow inset 0 -2px 0 hsl(240deg 1% 83%), 0 1px 1px rgba(0,0,0,.05)
  font 0.6875rem SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace

// <code></code>
.article code:not([class]) {
    word-break: break-all;
    background: var(--color-codeblock);
    border-radius: 6px;
    font-size: .8125rem;
    padding: 0 .5em;
    margin: 0 .3em;
    overflow-wrap: break-word;
    display: inline-block;
    text-indent: 0
}

// 列表页正文内容左对齐
.post.post-v3.white-box p
  text-align left

// 侧边栏：个人卡片
.blogger .text
  margin-bottom 10px


// 文章页段落内容：首行缩进
#l_main > article.cus-indent
  p
    text-indent 2em
    &.p
      text-indent 0 
  details,
  blockquote,
  section,
  .prev-next,
  .new-meta-box,
  .note,
  .tag,
  .tab-pane .checkbox,
  li
    p
      text-indent 0

// 标签：blocknote 标题字号增大
.note.quote strong
  font-size 1.5rem

// 标签：标题大小
details summary
  font-size 1em

// 标签：缩短 Tab 内时间线标题高度
.tab-pane > .timeline > .h2
  padding-top 0

// 标签：link 链接居中
.md .tag.link
  text-align center

// 自定义阴影
.cus-shadow
  box-shadow 0 1px 3px #0000001f, 0 1px 2px #0000003d

// iconfont 自定义图标样式修饰
.iconfont
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
  &.emoji
    width 1.5em
    height 1.5em
    vertical-align -0.3em

// 移动端字体大小
.cover-wrapper .cover-body .title
  @media screen and (max-width: 500px)
    font-size 2rem

// 修复开启首行缩进后的图片，标签
#l_main>article.cus-indent
  p img
    display block
  div.checkbox p
    text-indent 0
  p + ul
    margin-left 2rem

// 修复侧边栏 list 链接处字体粗细问题
.widget.list .content a > div.name
  font-weight initial

// 江西拙楷：字体修饰
.article-title a
  font-weight 400

// details 下的 timelines 高度间距缩短
details .content .timelines-common
  padding 0
  margin-bottom -1em

// 对 a 链接的样式
li:not([class]) a:not([class]),
p:not([class]) a:not([class]),
table a:not([class]),
.comment-policy-link a
  position relative
  text-decoration none
  padding 0 2px
  border-radius 0
  transition all 0.2s ease-out
  background linear-gradient(0deg, rgba(32,148,243,0.2), rgba(32,148,243,0.2)) no-repeat left 100% / 100% 0
  &:hover
    border-radius 4px
    background linear-gradient(0deg, rgba(32,148,243,0.2), rgba(32,148,243,0.2)) no-repeat left 100% / 100% 100%

// 强制覆盖 fancybox v5
@media (min-width: 600px)
  .fancybox__container
    padding 10px !important
  .fancybox__slide
    padding 2.5rem !important

@media (min-width: 720px)
  .f-button
    &:first-child
      border-radius 12px 0 0 12px
    &:last-child
      border-radius 0 12px 12px 0

// 图片懒加载占位图覆盖样式
picture.lazy img
  object-fit: contain !important
  background-color: #efefef !important
  margin: 0 auto

// 分隔符
article hr
  background-image: none;
  height: 2em;
  border: none;
  margin: 1em 0 1em;
  text-align: center;
  &:after
    content: "···";
    letter-spacing: 2em;
    padding-left: 2em;
    font-weight: 700;

// 文章列表 "|"
.article-title {
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.4;
    text-align: left;
    border-left: var(--color-h1) 8px solid;
    padding-left: 10px
}

// 文章页一级标题字体修改
h1.title
  font-family: $fontfamily-logo
